CONFIG_IDF_TARGET="esp32s3"
CONFIG_TINYUSB_TASK_AFFINITY_CPU0=y
CONFIG_TINYUSB_INIT_IN_DEFAULT_TASK=y
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_LWIP_DHCPS=y
CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE=n
CONFIG_REMOTE_AGENT_WIFI_SSID="YOUR_WIFI_SSID"
CONFIG_REMOTE_AGENT_WIFI_PASSWORD="YOUR_WIFI_PASSWORD"
CONFIG_REMOTE_AGENT_SERVER_HOST="YOUR_RELAY_SERVER_IP"
CONFIG_REMOTE_AGENT_SERVER_CONTROL_PORT=6555
CONFIG_REMOTE_AGENT_BOARD_ID="S3-0001"
CONFIG_REMOTE_AGENT_BOARD_KEY="CHANGE_THIS_DEVICE_SECRET"
CONFIG_REMOTE_AGENT_ASSIGNED_PUBLIC_PORT=6500
CONFIG_REMOTE_AGENT_TERMINAL_RDP_HOST="192.168.77.2"
CONFIG_REMOTE_AGENT_TERMINAL_RDP_PORT=3389
CONFIG_REMOTE_AGENT_MAX_TUNNELS=16
CONFIG_REMOTE_AGENT_TERMINAL_CONNECT_TIMEOUT_MS=2500
CONFIG_REMOTE_AGENT_PENDING_TX_BUFFER=8192
CONFIG_REMOTE_AGENT_STATUS_LED_ENABLED=y
CONFIG_REMOTE_AGENT_STATUS_LED_GPIO=48
CONFIG_REMOTE_AGENT_STATUS_LED_BRIGHTNESS=80
